*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
ShiftRpgMg/ShiftRpg/bin/
ShiftRpgMg/bin/
ShiftRpgMg/ShiftRpg/obj/
ShiftRpgMg/obj/
ShiftRpgMg/Content/obj/
!ShiftRpgMg/x64
!ShiftRpgMg/x86
!ShiftRpgMg/Libraries
