*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
ShiftRpg/ShiftRpg/bin/
ShiftRpg/bin/
ShiftRpg/ShiftRpg/obj/
ShiftRpg/obj/
ShiftRpg/Content/obj/
!ShiftRpg/x64
!ShiftRpg/x86
!ShiftRpg/Libraries
