*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
ProjectLoot/ProjectLoot/bin/
ProjectLoot/bin/
ProjectLoot/ProjectLoot/obj/
ProjectLoot/obj/
ProjectLoot/Content/obj/
!ProjectLoot/x64
!ProjectLoot/x86
!ProjectLoot/Libraries
